
wag/
media/
blog/__pycache__/
blog/migrations/
blog/.pytest_cache/
blog/.coverage      
home/__pycache__/
home/migrations/
home/.pytest_cache/ 

customDrf/__pycache__/
customDrf/migrations/



.htaccess
customAPI/__pycache__/__init__.cpython-311.pyc
customAPI/__pycache__/serializers.cpython-311.pyc
customAPI/__pycache__/urls.cpython-311.pyc
customAPI/__pycache__/views.cpython-311.pyc
mysite1/__pycache__/__init__.cpython-311.pyc
mysite1/__pycache__/api.cpython-311.pyc
mysite1/__pycache__/urls.cpython-311.pyc
mysite1/__pycache__/wsgi.cpython-311.pyc
mysite1/settings/__pycache__/__init__.cpython-311.pyc
mysite1/settings/__pycache__/base.cpython-311.pyc
mysite1/settings/__pycache__/dev.cpython-311.pyc
news/__pycache__/__init__.cpython-311.pyc
news/__pycache__/admin.cpython-311.pyc
news/__pycache__/apps.cpython-311.pyc
news/__pycache__/blocks.cpython-311.pyc
news/__pycache__/models.cpython-311.pyc
news/migrations/__pycache__/0001_initial.cpython-311.pyc
news/migrations/__pycache__/__init__.cpython-311.pyc
passenger_wsgi.py
search/__pycache__/__init__.cpython-311.pyc
search/__pycache__/views.cpython-311.pyc
stderr.log
.gitignore
tmp/
db.sqlite3

